html,body,section{
    width:100%;	
	height:86%;
}

div#all{
	width:100%;
	height:86%;
	background:yellowgreen;
}
div#map{
	width:80%;
	height:112%;
	margin:0.7% -5%;
}

select{
	width:100%;
	height:105%;
	background:transparent;
	border-color:white;
}

