html,body,section{
    width:100%;	
	height:86%;
}

div#all{
	width:100%;
	height:86%;
	background:yellowgreen;
}
div#result{
	width:20%;
	height:112%;
}
div#map{
	width:80%;
	height:112%;
	margin:0.7% 0%;
}

