@CHARSET "UTF-8";

td,th{
	padding: 11px 11px;
	border:1px solid #98bf21;
}

#sth{
	background: #EAF2D3;
}

	table{
	margin:auto;
	border-collapse: collapse;
	border:2px solid #98bf21;
}

input[type="text"]{
	border:0;
}

input[type="submit"]{
	padding: 5px 40px;
	background:#EAF2D3;
}
