html,body,section{
    width:100%;	
	height:86%;
}

div#all{
	width:100%;
	height:86%;
	background:yellowgreen;
}
div#result{
	width:18%;
	height:113%;
}
div#map{
	width:81%;
	height:113%;
	margin:0.5% -2% 0.2% 2%;
	background:white;
	padding:0 0;
}

textarea.normalTA{
	width:100%;
	height:100%;
	background:transparent;
	border-color:white;
	margin-top:5%;
}

select{
	width:100%;
	height:90%;
	background:transparent;
	border-color:white;
}

table{
	width:100%;
}

a.white:link{
	display:block;
	font-size:14px;
	color:black;
	background-color:transparent;
	width:120px;
	text-align:left;
	padding:4px;
	text-decoration:none;
}
/* a.white:hover{ */
/* 	background-color:red; */
/* } */
